/* 
* Google Fonts: Lobster Regular
* @link https://fonts.google.com/specimen/Lobster?query=lobster&sidebar.open=true
*/

@font-face {
    font-family: 'Lobster Regular';
    src: url(../fonts/lobster/Lobster-Regular.ttf);
    src: url(../fonts/lobster/Lobster-Regular.ttf)
        format( 'truetype' );
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

html {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}
figure {
    float: left;
    margin: 1rem;
    /* text-align: center; */
}

figcaption {
    margin: 0.6rem;
    font-size: 0.8rem;
    text-align: center;
}

div > p {
    margin: 1rem;
    padding: 1rem;
   
}

section div {
    display: flex;
    align-content: center;
    justify-content: center;
}

img {
    max-width: 200px;
    border: 2px solid darkslategray;
    border-radius: 5px;
}

a img:hover {
    box-shadow: 5px 10px;
}

.myNav {
    overflow: hidden;
    background-color: darkslategrey;
    position: relative;
}

/* Citation:
 *  https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
 *  'mainMenu' links have to be hidden while the hamburger menu shows instead.
 */    
.myNav #mainMenu {
    list-style-type: none;
    display: none;
}

nav a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: 14px 30px;
  
}

nav a:hover {
    color: whitesmoke;
}

/* Citation:
 *  https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
 *  The below code block styles the Font Awesome (hamburger menu) icon.
 */   
nav a.icon {
    background: darkslategrey;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Citation:
 *  https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
 *  The active element in the menu is styled in the active class below
 */   
.active {
    background-color: darkslategrey;
    color: white;
  }

h1 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lobster Regular', 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

footer {
    font-size: 12px;
    text-align: center;
    background-color: darkslategrey;
    color: whitesmoke;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* link@ 
 Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }

